{# Template final view.html.twig #}

{% extends "SdzBlogBundle::blog/layout.html.twig" %}

{% block title %}
    View Article - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
    <h2>
        {% if article.image is not null %}
            <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" />
        {% endif %}
        {{ article.title }}
    </h2>
     <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>  
     {% if article.categories.count > 0 %}
        - Catégories :
        {% for categorie in article.categories %}
            {{ categorie.name }} 
            {% if not loop.last %} - {% endif %}
        {% endfor %}
     {% endif %}
     
     <div class="well">{{ article.content }}</div>  
     {% if article_competences|length > 0 %}
        <div class="well">
        <h4>Liste des compétences (liées à l'article)</h4>
            <ul>
                {% for article_competence in article_competences %}
                    <li>
                        {{ article_competence.competence.name }} : {{ article_competence.level }}
                    </li>
                {% endfor %}
            </ul>
        </div> 
     {% endif %}
     <div class="well">
        <h4>Liste des commentaires</h4>
        <ul>
            {% for commentaire in commentaires %}
                <li>Par {{ commentaire.author }}, le {{ commentaire.date|date('d/m/Y')}} : {{ commentaire.content }}</li>
            {% endfor %}
        </ul>
     </div> 
     <p>
        <a href="{{ path('sdz_blog_home') }}" class="btn">      
            <i class="icon-chevron-left"></i>Retour à la liste    
        </a>    
        <a href="{{ path('sdz_blog_edit', {'id': article.id}) }}" class="btn">      
            <i class="icon-edit"></i>Modifier l'article    
        </a>    
        <a href="{{ path('sdz_blog_remove', {'id': article.id}) }}" class="btn">      
            <i class="icon-trash"></i>Supprimer l'article
        </a>
    </p>
{% endblock %}
